---
import {type CollectionEntry, getCollection, render} from "astro:content"
import {SITE_TITLE} from "../../consts"
import SpacePage from "../../layouts/SpacePage.astro"
import FormattedDate from "../../components/FormattedDate.astro"
import Song from "../../components/song/song.tsx"

export async function getStaticPaths() {
	const posts = await getCollection("blog")
	return posts.map(post => ({
		params: {slug: post.id},
		props: post,
	}))
}

type Props = CollectionEntry<"blog">

const post = Astro.props
const {Content} = await render(post)
const url = `/blog/${post.id}/`
---

<SpacePage
	title=`${post.data.title} | ${SITE_TITLE}`
	description={post.data.description}
>
	<main>
		<article class="space-layout__card">
			{post.data.song ? <Song {...post.data.song} client:idle /> : null}
			<header>
				<a href={url} class="title">
					<h2>{post.data.title}</h2>
				</a>
				<a href={url} class="date">
					<FormattedDate date={post.data.date} />
				</a>
			</header>
			<section class="content">
				<Content />
			</section>
		</article>
	</main>
</SpacePage>

<style>
	header {
		display: flex;
		flex-direction: column;
		h2 {
			margin: 0;
		}
		a {
			text-decoration: none;
		}
	}

	.title {
		margin: 0;
		h2 {
			font-size: 1.8rem;
			font-weight: 450;
		}
	}
	.date {
		font-size: 1rem;
		text-transform: lowercase;
		font-weight: 300;
	}

	article {
		display: flex;
		flex-direction: column;
	}

	.content {
		font-weight: 300;
		font-size: 1.4rem;
	}
</style>
